<main id="search">
    <section class="game-search">
        <h1>Search</h1>

        <form class="search-form" >
            <input type="text" class="search-game" name="name" placeholder="Search here...">
            <select id="platform" name="platform">
                <option value="">-------</option>
                <option value="PC">PC</option>
                <option value="Nintendo">Nintendo</option>
                <option value="PS4">PS4</option>
                <option value="PS5">PS5</option>
                <option value="XBOX">XBOX</option>
            </select>
            <button type="submit" class="btn-search">Search</button>
        </form>

        {{#if games}}
        <div class="search-result">
            <div class="search-list">
                {{#each games}}
                    {{> game}}
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="no-match">
            <p>No match was found!</p>
        </div>
        {{/if}}
    </section>
</main>

{{!-- да махна от формата action & method, , да проверя дали са еднакви като от Create options
Да сложа на name="...." да се попълнят --}}


<form class="search" method="">
    <input type="search" name="search" placeholder="Search here...">
    <button type="submit">Search</button>
</form>
{{#if query}}
<section id="find-section">
    {{#if estates}}
    <!-- If there are any matching matches from the search, show each of them -->
        {{#each estates}}
            {{> catalogEstate}}
        {{/each}}
    {{else}}
    <!-- If there are no search matches, show: -->
    <div class="no-data-listing">
        <p class="no-offer">No match was found for the submitted type...</p>
    </div>
    {{/if}}
</section>
{{/if}}