.button {
    display: inline-block;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: all 0.3s ease-in;


}

.button:hover {
    background-color: #369;
    color: #fff;
}

.button:active {
    background-color: orange;
    color: white;
}

.button.type-pill {
    border-radius: 5em;
}

/* table */

table {
    table-layout: fixed;
    /*прави колоните да са еднакви*/
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
}

table,
th,
td {
    border: 1px solid black;
}

th, td{
    padding: 0.5em 0.7em;
}

table thead th{
    background-color:#DDD;
}

table tbody tr:nth-child(even){
    background-color: #eee;
}