@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 2em;
    background-color: #fff;
    min-height: 100vh;
}

h1,
.title-p {
    text-align: center;
}

.title-p {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 1em;
}

.title {
    color: #327dc4;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1.5em;

}

.card {
    display: block;
    max-width: 28em;
    overflow: hidden;
    background-color: #819daf;
    border-radius: 1.5em;

}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.card .content {
    padding: 2em;
}

.card .content h3 {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.card div.content p a {
    text-decoration: none;
    padding: 0.3em 1.3em;
    text-decoration: none;
    border-radius: 2em;
    background-color: #327dc4;
    border: 1px solid white;
    color: white;

}

div.content p:nth-child(2) {
    margin-bottom: 2em;

}