h1 {
    text-align: center;
    color: red;
}

p {
    font-family: 'Times New Roman';
    font-size: 23px;
}

p.blueParagraph {
    color: blue;
}

p.red {
    color: red;
}

p.green {
    color: green;
}

body {
    background-color: aquamarine;
}