<h3>{{title}} app works!</h3>

<div>
  <input #inputName type="text" placeholder="name">
  <input #inputAge type="text" placeholder="age">
  <!-- <button (click)="userService.addUser(inputName,inputAge)">Add User</button> -->
  <button (click)="setUser(inputName,inputAge)">Add User</button>
</div>

<div *ngIf="isLoading">
  <h3>Loading...</h3>
</div>

<div *ngIf="!isLoading">
  <app-users-list [users]="appUsers"></app-users-list>
</div>

<!-- <app-users-list [users]="userService.users"></app-users-list> -->
<!-- коментарите са от app.components -->
