<article class="content-publication">
    <h1>Title: {{title}}</h1>
    <p>Number of people shared the publication: {{shared.length}}</p>
    <a href="/publications/{{_id}}/details" class="image-details">View publication</a>
</article>


{{!-- <a href="/books/{{_id}}/details" class="details">Details</a> --}}
{{!-- тук сме в контекста --}}
